section.about .first-part .wrap-content {
    display: flex;
    gap: 3%;
    padding: 0px 30px;
    justify-content: space-between;
}

section.about .first-part .wrap-content>.text {width: 50%;}

section.about .first-part .wrap-content p {
    margin: 0;
}
section.about .first-part .wrap-content .wrap-desc {
    width: 38%;
    min-width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.about .wrap-dates .date {
    width: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 10px #00000029;
    border-radius: 15px;
    height: 68px;
    color: var(--custom-blue);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.about .wrap-dates .date .year {
    font-weight: bold;
}

section.about .wrap-dates {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

section.about .second-part .circle {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 25%;
}

section.about .second-part {
    display: flex;
    padding-left: 30px;
    width: 50%;
    justify-content: space-between;
    margin-top: 25px;
}
section.about .second-part .circle a {
    text-decoration: underline;
    color: var(--custom-light-blue);
}
section.about .second-part .circle img {
    width: 60px;
    height: 60px;
}

section.about .second-part .circle h2 {
    margin: 20px auto 4px auto;
    font-size: 16px;
}

section.about .second-part .circle span {
    font-size: 16px;
}

section.about .third-part {
    padding: 0px 30px;
    margin-top: 55px;
    width: 100%;
    overflow-x: auto;
    padding-top: 6px;
}

section.about .third-part .numbers-line {
    display: flex;
    font-size: 14px;
    color: var(--custom-blue);
    position: relative;
    border-top: 1px solid var(--custom-blue);
    padding-top: 15px;
    padding-bottom: 57px;
    gap: 10px;
    width: max-content;
    min-width: 100%;
}

section.about .third-part .numbers-line .wrap-year {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    min-width: 100px;
}

section.about .third-part .numbers-line .wrap-year>.year {
    font-weight: bold;
    text-align: center;
}

section.about .third-part .numbers-line .wrap-year:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: var(--custom-light-blue);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    top: -7px;
}

section.about .third-part .numbers-line .wrap-year span {
    line-height: 1.2;
    text-align: left;
    max-width: 50px;
}

@media screen and (max-width: 1100px) {
    
    section.about .third-part, section.about .second-part, section.about .first-part .wrap-content {
        padding: 0px 17px!important;
    }
    
    section.about .first-part .wrap-content>.text {
        width: unset;
        font-size: 12px;
        line-height: 1.5;
    }
    
    section.about .first-part .wrap-content {
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 28px;
        display: block;
        font-size: 12px;
    }
    
    section.about .first-part .wrap-content .wrap-desc>img {
        width: 201px;
    }
    
    section.about .wrap-dates {
        margin-top: 12px;
        gap: 8px;
    }
    
    section.about .wrap-dates .date {
        height: 47px;
        width: 92px;
        font-size: 12px;
    }
    
    section.about .first-part .wrap-content .wrap-desc {float: right;padding: 0px 12px 12px;}
    
    section.about .second-part .circle img {
        width: 32px;
        height: auto;
    }
    
    section.about .second-part .circle h2 {
        margin-top: 7px;
        font-size: 12px;
        margin-bottom: 3px;
    }
    
    section.about .second-part .circle a,section.about .second-part .circle span {
        font-size: 12px;
    }
    
    section.about .second-part {
        width: unset;
        justify-content: flex-start;
        gap: 30px;
    }
    
    section.about .third-part {
        margin-top: 25px;
        margin-bottom: 80px;
        overflow: unset;
    }
    
    section.about .third-part .numbers-line {
        flex-direction: column;
        border-top: none;
        border-left: 1px solid var(--custom-blue);
        padding-left: 29px;
        padding-top: 10px;
        gap: 25px;
        font-size: 12px;
        min-height: 450px;
        height: 450px;
    }
    section.about .third-part .numbers-line.mobile-more-9 {
        height: max-content;
    }
    
    section.about .third-part .numbers-line .wrap-year:before {
        top: 0;
        left: -37px;
    }
    
    section.about .third-part .numbers-line .wrap-year {
        position: relative;
        min-width: unset;
        min-height: max-content;
    }
    
    section.about .third-part .numbers-line .wrap-year span {
        max-width: unset;
    }
    
    
    
    section.about .first-part .wrap-content>.text.mobile-only {
        display: block !important;
    }
}