
section.candles-flowers h1 {
    margin-bottom: 44px;
}

.write-candles-flowers-btn {
    align-items: flex-start;
    display: inline-flex;
    gap: 30px;
    width: 420px;
    background: #022855 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    color: white;
    font-size: 14px;
    padding: 30px 0px 30px 60px;
    border-radius: 19px;
}

.write-candles-flowers-btn a {
    background: #00B3BF 0% 0% no-repeat padding-box;
    border: 2px solid #00B3BF;
    border-radius: 19px;
    color: white;
    margin-top: 12px;
    width: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Medium';
    height: 23px;
}

.write-candles-flowers-btn .num {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
}

.write-candles-flowers-btn .desc {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}

.write-candles-flowers-btn .right-btn {
    display: flex;
    flex-direction: column;
}

.write-candles-flowers {
    padding-left: 30px;
    margin-bottom: 45px;
}

section.candles-flowers .wrap-content {
    padding: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px 14px;
}

.write-candles-flowers {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.write-candles-flowers-btn>img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.write-candles-flowers.opened .wrap-write-candles-flowers-form {display: flex;}

.write-candles-flowers:not(.opened) .wrap-write-candles-flowers-form {
    display: none !important;
}

.wrap-candles_flower {
    height: 85px;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px;
    color: var(--custom-black);
    display: flex;
    gap: 12px;
    width: 243px;
    align-items: center;
    font-size: 12px;
    padding-left: 10px;
}

.wrap-right-candles_flower {
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.wrap-candles_flower img {
    width: 40px;
    border-radius: 50%;
}

.wrap-right-candles_flower .name {
    font-family: 'Rubik Medium';
    font-size: 14px;
    max-width: inherit;
}


.wrap-write-candles-flowers-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.65);
    bottom: 0;
    z-index: 99;
}

form#cfform,.wrap-thank-section {
    background-color: var(--custom-blue);
    width: 450px;
    height: max-content;
    margin: auto;
    box-shadow: 3px 3px 6px #00000029;
    border-radius: 19px;
    padding: 30px 30px 53px;
    position: relative !important;
}

form#cfform>a>img {
    width: 15px;
}

.wrap-top-form,.wrap-top-form * {
    color: white;
    justify-content: center;
    font-size: 16px;
}

form#cfform input,form#cfform textarea {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px;
    background: white;
    padding: 15px;
    font-size: 14px;
    height: 45px;
    width: 100%;
    border-color: transparent;
}

form#cfform textarea {
    resize: none;
    height: 105px;
    margin: 15px 0px 10px;
}

form#cfform input[type=submit],form#cfform input[type=button] {
    background: var(--custom-light-blue);
    color: white;
    cursor: pointer;
}

form#cfform input[type=radio] {
    display: none;
}

.wrap-top-form .head {
    width: 100%;
    margin: 10px auto 20px;
    text-align: center;
}

.wrap-top-form .wrap-radio {
    position: relative;
    width: 60px;
}

.wrap-top-form .wrap-radio .price {
    position: absolute;
    width: 30px;
    height: 30px;
    background: var(--custom-light-blue);
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    right: -12px;
    top: -6px;
}

.wrap-top-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 23px;
    width: 215px;
    margin: auto;
    justify-content: space-between;
}
.wrap-form-fields {
    display: flex;
    gap: 10px;
}

.step-1 .wrap-form-fields {
    margin-top: 15px;
}

.wrap-top-form .wrap-radio label {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 8px;
    z-index: 0;
}

.wrap-top-form .wrap-radio label:before {
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
    content: "";
    background-repeat: none;
    background-image: url(/wp-content/uploads/2022/03/Group-425-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.wrap-top-form .wrap-radio:last-child:not(.current) label:before {background-image: url(/wp-content/uploads/2022/03/Group-424.svg) !important;}

.wrap-top-form .wrap-radio:last-child.current label:before {background-image: url(/wp-content/uploads/2022/03/Group-177.svg) !important;}

.wrap-top-form .wrap-radio.current label:before {
    background-image: url(/wp-content/uploads/2022/03/Group-176.svg);
}
form#cfform input:focus, form#cfform textarea:focus {
    outline: none;
}


.wrap-top-form .wrap-radio.current .price {
    display: flex;
}

.wrap-top-form .wrap-radio:not(.current) .price {
    display: none;
}
.wrap-write-candles-flowers-form .wrap-thank-section a.close img {
    width: 15px;
    height: 15px;
}

.wrap-thank-section {
    padding: 30px 30px 45px;
    height: max-content;
    width: max-content;
    min-width: 450px;
}

.wrap-top-form .circle {
    position: absolute;
    top: -45px;
    height: 90px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}

.wrap-top-form .thanks {
    font-size: 22px;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.wrap-thank-section .wrap-top-form {
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
}

.wrap-thank-section .wrap-top-form> .thanks+img {
    max-height: 195px;
    height: 195px;
    border-radius: 15px;
    margin-bottom: 28px;
}

.wrap-thank-section .wrap-top-form span:not(.thanks) {
    font-size: 14px;
    line-height: 30px;
}
/* step 2 */
.step-2 .wrap-top-form .text {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
}

.step-2 .wrap-top-form span[class*=price] {
    font-size: 47px;
    font-weight: bold;
    color: var(--custom-light-blue);
    line-height: 56px;
    margin: auto;
}

.step-2 .wrap-top-form {
    padding-bottom: 24px;
    width: 100%;
}

.step-2 label {
    color: white;
    font-size: 14px;
    line-height: 20px;
}

.step-2 .wrap-form-fields {
    margin: 16px 0px 21px;
}

.step-2 input[type=checkbox] {
    display: inline-block;
    min-width: 17px !important;
    min-height: 17px !important;
    border-radius: 6px !important;
    box-shadow: none !important;
    border: 1px transparent;
    margin-right: 6px;
    outline: none;
    appearance: none;
    padding: 0 !important;
    height: 17px !important;
    width: 17px !important;
    cursor: pointer;
    position: relative;
}
.rtl .step-2 input[type=checkbox] {
    margin-right: 0;
    margin-left: 6px;
}
.wrap-field.checkbox {
    display: flex;
}

.wrap-field.checkbox label {
    padding-bottom: 10px;
}

form input#submit {
    margin-top: 11px;
}

.step-2 input[type=checkbox]:checked:after {
    background-color: var(--custom-light-blue);
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 6px !important;
    color: white;
    content: url(/wp-content/uploads/2022/03/Path-142.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 3px;
}

input#card_cvv::placeholder {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 18px;
}

.step-2 .wrap-top-form {
    padding-bottom: 24px;
    width: 100%;
}


.wrap-error {
    background: #FFFFFF30 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 13px;
    width: 100%;
    padding: 12px 20px;
    margin-top: 19px;
    font-size: 14px;
    display: flex;
    color: white;
    gap: 4%;
    align-items: center;
}

.wrap-error:before {
    content: "";
    background: url(/wp-content/uploads/2022/03/Group-1000.svg) no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: contain;
}

/* step 2 */
.step-1 .wrap-error {
    color: white;
    margin-top: 0;
    margin-bottom: 15px;
}


@media screen and (max-width: 1100px) {
    
    .wrap-top-form .wrap-radio .price {
        width: 22px;
        height: 22px;
        left: 36px;
        top: 0;
        font-size: 11px;
    }
    .write-candles-flowers {
        justify-content: center;
        margin-bottom: 29px;
        padding-left: 0;
        gap: 10px;
    }
    
    section.candles-flowers h1 {
        margin-bottom: 15px;
    }
    
    .write-candles-flowers-btn>img {
        height: 28px;
        width: 28px;
    }
    
    .write-candles-flowers-btn {
        width: 49.5%;
        font-size: 11px;
        padding: 15px 12px 12px;
        max-width: 194px;
        gap: 6.5%;
    }
    
    
    .write-candles-flowers-btn:first-child {
        margin-right: 0;
    }
    
    .write-candles-flowers-btn .num,.write-candles-flowers-btn .desc {
        font-size: 12px;
    }
    
    .write-candles-flowers-btn a {
        width: 106px;
        margin-top: 7px;
        border-width: 1px;
        height: unset;
    }
    .wrap-candles_flower {
        width: 185px;
        height: 60px;
        padding-right: 11px;
        gap: 10px;
    }
    
    .wrap-candles_flower img,.wrap-left-candles_flower {
        width: 27px;
        display: flex;
        min-width: 27px;
    }
    
    .wrap-right-candles_flower .name {
        font-size: 10px;
    }
    
    .wrap-right-candles_flower {
        font-size: 9px;
    }
    
    section.candles-flowers .wrap-content {
        justify-content: center;
        padding: 0px;
    }
    section.candles-flowers {
        padding-bottom: 80px;
    }
    /* popup */
    form#cfform  {
        width: 93%;
        padding: 15px 15px 35px;
        height: max-content;
        max-width: 348px;
    }
    form .wrap-form-fields input {
        width: 50% !important;
        display: inline-flex !important;
    }
    
    .step-1 .wrap-form-fields {
        margin-top: 8px;
        display: flex;
        padding: 0;
    }
    
    form .wrap-top-form {
        padding-bottom: 15px;
    }
    
    form .wrap-top-form .head {
        margin-bottom: 15px;
        margin-top: 0;
    }
    form#cfform input, form#cfform textarea,.wrap-form-fields {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 11px;
        height: 36px;
        padding: 12px;
    }
    
    .wrap-top-form, .wrap-top-form * {
        font-size: 14px;
    }
    
    .wrap-top-form .wrap-radio label:before {
        width: 55px;
        height: 55px;
    }
    
    .wrap-top-form {
        padding-bottom: 30px;
    }
    
    form#cfform textarea {
        margin: 8px auto;
        height: 136px;
    }
    
    form#cfform input[type=submit],form#cfform input[type=button]  {
        height: 32px;
        padding: 10px;
    }
    .wrap-thank-section {
        padding: 20px 20px 25px;
        width: 93%;
        min-width: unset;
        max-width: 359px;
    }
    
    .wrap-top-form .circle {
        height: 60px;
        top: -30px;
    }
    
    .wrap-top-form .thanks {
        font-size: 15px;
        margin: 12px 0px;
    }
    
    .wrap-thank-section .wrap-top-form span:not(.thanks) {
        font-size: 12px;
        line-height: 20px;
    }
    
    .wrap-thank-section .wrap-top-form> .thanks+img {
        height: 150px;
        margin-bottom: 15px;
    }
    /* step 2 */
    .step-2 label {
        font-size: 12px;
        line-height: 18px;
        width: 90%;
        display: block;
        margin: auto;
        margin-bottom: 2px;
    }
    
    .step-2 .wrap-form-fields input {width: 100% !important;}
    
    .step-2 .wrap-form-fields {
        display: flex;
        padding: 0;
        height: max-content;
        margin: 12px auto 17px;
        width: 90%;
    }
    
    .step-2 .wrap-form-fields label {
        width: unset;
    }
    
    .wrap-field.checkbox {
        width: 90%;
        margin: auto;
    }
    
    .step-2 .wrap-form-fields .wrap-field {
        width: 50%;
    }
    
    .step-2 .wrap-top-form span[class*=price] {
        font-size: 35px;
        line-height: 45px;
    }
    
    .step-2 .wrap-top-form .text {
        font-size: 14px;
        line-height: 22px;
    }
    
    .wrap-error {
        padding: 10px 18px;
        width: 90%;
        margin: 13px auto 0px;
        font-size: 12px !important;
    }
    
    .step-2 .wrap-top-form {
        padding-bottom: 11px;
    }
    
    form input#submit {
        margin-top: 0;
        font-size: 11px;
    }

    .wrap-error:before {
        width: 16px;
        height: 16px;
    }
    .step-2 .wrap-top-form, .step-2 .wrap-top-form * {
        font-size: 12px;
    }
}
@media screen and (max-width: 767px) {
    .write-candles-flowers {
        gap: 3px;
    }
    .write-candles-flowers-btn { 
        gap: 3%;
        padding: 15px 6px 12px;
    }
    .write-candles-flowers-btn .text {
        font-size: 9px;
    }
    .wrap-candles_flower {
        width: 48%;
    }
    
    section.candles-flowers .wrap-content {
        gap: 8px 2%;
    }
 }