.menu-menu-1-container a {
    font-size: 15px;
}
.mobile-only {
    display: none !important;
}
.agree {
    font-size: 10px;
    margin-top: 10px;
    height: max-content !important;
}

.agree a {
    color: var(--custom-light-blue);
    border-bottom: 1px solid var(--custom-light-blue);
}
.menu-menu-1-container li.current a {color: var(--custom-light-blue);border-bottom: 3px solid var(--custom-light-blue);}

.site-branding img {
    height: 25px;
    width: auto;
    max-width: unset;
}

header#masthead {
    height: 91px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 22;
}

ul#primary-menu {
    align-items: center;
    justify-content: space-between;;
    gap: 15px;
    display: flex;
    width: 100%;
}

.share-btn {
    display: flex;
    width: max-content;
    align-items: center;
}

a#qr-code-download img {
    height: 40px;
    margin-top: 0;
    margin-left: 12px;
    margin-bottom: 10px;
    margin-right: 0;
}


.share-btn a img {height: 22px;width: auto;max-width: unset;margin-right: 10px;margin-top: 4px;}

.wrap-header-content {
    display: flex;
    min-width: max-content;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    max-width: 1450px;
}

nav#site-navigation li a {
    width: max-content;
    display: block;
}

.share-btn a {
    display: flex;
    outline: none;
}

ul#primary-menu li {display: block;}

.menu-menu-1-container {
    width: 100%;
    display: block;
    margin: 0px 1.5vw;
}

/* Footer */
footer.site-footer.remmember-item-footer.main-tab {
    height: 163px;
    flex-direction: column;
    padding-left: calc(15% + 268px + 5%);
    padding-right: 15%;
}

footer.site-footer.remmember-item-footer:not(.main-tab) {
    height: 106px;
    padding: 11px 12.5% 0;
    display: flex;
    gap: 5%;
    align-items: center;
    position: sticky;
    z-index: 1;
}

footer.site-footer.remmember-item-footer {
    background-color: var(--custom-blue);
    color: var(--custom-white);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    font-size: 20px;
    width: 100%;
}

footer.site-footer.remmember-item-footer.main-tab>.text {
    margin-bottom: 10px;
    margin-top: 32px;
}

.wrap-form-footer {
    height: 40px;
}

.wrap-form-footer * {
    height: 45px;
}

form#registerForm {
    display: flex;
    width: 100%;
}

.remmber-footer-count-of-remmbers {
    box-shadow: 3px -3px 6px #00000029;
    position: absolute;
    height: 215px;
    text-align: center;
    background-color: var(--custom-light-blue);
    display: flex;
    flex-direction: column;
    padding: 85px 21px 37px;
    border-radius: 20px 20px 0px 0px;
    bottom: 0;
    width: 268px;
    left: 15%;
    justify-content: center;
}

.remmber-footer-count-of-remmbers .text {
    color: var(--custom-blue);
    font-size: 20px;
    font-weight: bold;
    margin-top: -15px;
}

div#page {
    min-height: 100vh;
    position: relative;
}

.remmber-footer-count-of-remmbers .num {
    font-size: 50px;
    word-break: break-all;
    font-weight: bold;
    line-height: 45px;
    margin-bottom: 17px;
}

form#registerForm input[type=email] {
    width: 80%;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
    color: var(--custom-blue);
}


form#registerForm button[type=submit] { border:none;color: white;background-color: var(--custom-light-blue);height: 100%;cursor: pointer;border-radius: 0px 15px 15px 0px;}

form#registerForm input[type=email]:focus {
    border: none;
}

form#registerForm input[type=email]:focus {
    border: none !important;
    box-shadow: none;
    outline:none;
}


form#registerForm input[type=email]::placeholder {
    color: var(--custom-blue);
}

footer:not(.main-tab) {display: flex;}

footer.site-footer.remmember-item-footer:not(.main-tab)>.text {
    width: 360px;
}

footer.site-footer.remmember-item-footer:not(.main-tab)>.wrap-form-footer {
    width: inherit;
    height: max-content;
}


form#registerForm button[type=submit] {width: 20%;}

form#registerForm button[type=submit] img {
    width: auto;
    height: 100%;
}
.wrap-remmember-page {
    padding: 91px 0px 106px;
    min-height: calc(95vh);
}

section h1 {
    font-family: 'Rubik Medium';
    font-size: 25px;
    margin: 0;
    padding-left: 40px;
    border-bottom: 2px solid var(--custom-blue);
    color: var(--custom-blue);
    padding-bottom: 4px;
    padding-top: 53px;
    margin-bottom: 31px;
    font-weight: normal;
}

.wrap-remmember-page section {
    width: 75%;
    margin: auto;
}

/* google maps */
.acf-map {
    width: 100%;
    height: 400px;
    border: #ccc solid 1px;
    margin: 20px 0;
}

.acf-map img {
   max-width: inherit !important;
}
/* End googlr maps */

/* agree popup */
div.popup {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 574px;
    background: #F8F8F8;
    height: max-content;
    margin: auto;
    padding: 55px 40px;
    max-width: 50%;
    box-shadow: 3px 3px 6px #00000029;
    border-radius: 19px;
}
.header-popup h2 {
    color: var(--custom-blue);
    margin: 0;
    font-size: 25px;
}

.header-body p {
    margin: 0;
    font-size: 16px;
}

.header-body {
    margin-top: 38px;
}

div.popup .close {
    position: absolute;
    width: 45px;
    height: 45px;
    background: var(--custom-light-blue);
    border-radius: 50%;
    top: -15px;
    right: -13px;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    align-items: center;
    justify-content: center;
}


div.popup .close img {
    width: 14px;
    height: 14px;
}
/* End agree popup */

@media screen and (min-width: 1800px) { 
    form#registerForm button[type=submit] img {
        width: auto;
        height: 100%;
        max-width: unset;
    }
    .menu-menu-1-container {
        margin: 0px 5%;
    }
}
/* End Footer */
@media screen and (max-width: 1100px) {

    .mobile-only {
        display: flex !important;
    }
    .desktop-only {
        display:none !important;
    }
	nav#site-navigation.toggled {
        display: block;
    }
    
    nav#site-navigation:not(.toggled) .menu-menu-1-container {
        display: none;
    }
    
    .site-branding img {
        height: 17px;
    }
    a.site-branding {
        display: flex;
    }
    .wrap-header-content {
        height: 30px;
    }
    
    header#masthead {
        height: max-content;
        z-index: 999;
        min-height: 49px;
        box-shadow: 0px 3px 6px #00000029;
        display: flex;
    }
    
    .share-btn a img {
        height: 20px;
        margin-right: 9px;
        margin-top: 0;
    }
    
    a#qr-code-download img {
        height: 20px;
        margin-bottom: 6px;
        margin-left: 0;
    }
    
    .menu-menu-1-container {
        padding: 33px 44px;
        background: white;
        box-shadow: 0px 3px 6px #00000029;
        min-width: 219px;
    }
    
    ul#primary-menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding-right: 0;
    }

    button.menu-toggle img {
        width: 15px;
        height: auto;
    }

    nav#site-navigation {
        position: absolute;
        right: 0px;
        top: 38px;
        width: unset;
    }

    button.menu-toggle {
        border: none;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        height: max-content;
        width: max-content;
        margin-left: 5px;
        padding: 0;
    }


    nav#site-navigation li a {
        font-size: 10px;
    }

    /* Footer */
    form#registerForm button[type=submit] {
        width: 30%;
    }
    form#registerForm button[type=submit] img {
        width: auto;
        height: 100% !important;
    }
    footer#colophon {
        z-index: 1;
        position: fixed;
        bottom: 0;
    }
    .remmber-footer-count-of-remmbers {
        border-radius: 21px 21px 0px 0px;
        min-width: 94px;
        width: max-content;
        left: 5%;
        height: 135px;
        padding: 0px 10px 0px;
        align-items: center;
        justify-content: center;
    }
   
    footer.site-footer.remmember-item-footer.main-tab {
        padding-left: calc(5% + 94px + 10%);
        padding-right: 5%;
        height: max-content;
        padding-bottom: 15px;
    }
    
    footer.site-footer.remmember-item-footer.main-tab>.text {
        margin-top: 15px;
        
        margin-bottom: 5px;
    }
    footer.site-footer.remmember-item-footer>.text {
        font-size: 15px;
    }
    form#registerForm input[type=email] {
        font-size: 12px;
    }
    .wrap-form-footer * {
        height: 33px !important;
    }
    .wrap-form-footer {
        height: max-content;
    }
    .remmber-footer-count-of-remmbers .num {
        max-width: 120px;
        font-size: 30px;
        line-height: 27px;
        margin-bottom: 15px;
    }
    
    .remmber-footer-count-of-remmbers .text {
        font-size: 15px;
        line-height: 16px;
        max-width: 100px;
        text-align: center;
        margin-top: -10px;
    }
    
    form#registerForm input[type=submit] {
        font-size: 15px;
    }
    footer.site-footer.remmember-item-footer:not(.main-tab) {
        flex-direction: column;
        align-items: start;
        gap: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
        height: max-content;
    }
    
    /* End Footer*/

    .wrap-remmember-page {
        padding: 32px 0px 50px;
    }
    
    section h1 {
        padding-top: 24px;
        font-size: 20px;
        padding-left: 16px;
        margin-bottom: 15px;
        padding-bottom: 0;
    }
    
    .wrap-remmember-page section {
        width: unset;
        padding: 0px 17px;
    }
    /* agree popup */
    .agree {
        margin-top: 8px;
        height: unset !important;
    }
   
    /* end agree popup */
}

@media screen and (max-width:767px) {
    /* agree popup */
    div.popup {
        max-width: 85%;
        padding: 30px;
    }
    .header-body {
        margin-top: 20px;
    }
    .header-popup h2 {
        font-size: 15px;
    }
    .header-body p {
       
        font-size: 13px;
    }
    div.popup .close img {
        width: 10px;
        height: 10px;
    }
    div.popup .close {
        width: 35px;
        height: 35px;
    }
    /* end agree popup */
    form#registerForm input[type=email] {
        padding: 12px;
    }
    form#registerForm input[type=submit] {font-size: 11px;}

    footer.site-footer.remmember-item-footer.main-tab {
        padding-left: calc(2% + 94px + 9%);
        padding-right: 2%;
    }

    .remmber-footer-count-of-remmbers {
        left: 2%;
        max-width: 114px;
        padding-top: 0;
        justify-content: center;
        padding-bottom: 0;
    }

    .remmber-footer-count-of-remmbers .num {
        line-height: 30px;
    }
    form#registerForm button[type=submit] {
        width: 47%;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 6px;
        padding-right: 6px;
        display: flex;
        align-items: center;
    }
    form#registerForm button[type=submit] img {
        width: 100%;
        height: auto !important;
        max-width: unset;
    }
}